<h1 mat-dialog-title>{{ edit ? "Edit To-Do Item" : "New To-Do Item"}}</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>To-Do Title</mat-label>
    <input matInput formControlName="title" required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Item Description</mat-label>
    <textarea matInput formControlName="details"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="datePicker" formControlName="dueDate" required>
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker disabled="false"></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-checkbox formControlName="highPriority">High Priority?</mat-checkbox>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="form" [disabled]="!form.valid">{{ edit ? "Edit" : "Create"}}</button>
</div>
