<app-header (addItemEvent)="addItem($event)" (clearItemEvent)="clearItems()"></app-header>
<div class="drag-drop">
  <div class="container">
    <h2>To do</h2>

    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="columns[0].array"
         [cdkDropListConnectedTo]="doneList" class="list" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of columns[0].array" cdkDrag>
        <mat-card-header>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>Due: {{ item.dueDate | date }}</mat-card-subtitle>
          <mat-icon class="alert" matTooltip="High Priority" *ngIf="item.highPriority">priority_high</mat-icon>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-icon-button aria-label="Delete" (click)="deleteToDo(item.key)">
            <mat-icon matTooltip="Delete">delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="Edit" (click)="openDialog(item.key, item)">
            <mat-icon matTooltip="Edit">edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="container">
    <h2>Done</h2>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="columns[1].array"
         [cdkDropListConnectedTo]="todoList" class="list" (cdkDropListDropped)="drop($event)">
      <mat-card *ngFor="let item of columns[1].array" cdkDrag>
        <mat-card-header>
          <mat-card-title class="completed">{{ item.title }}</mat-card-title>
          <mat-card-subtitle>Due: {{ item.dueDate | date }}</mat-card-subtitle>
          <mat-icon class="alert" matTooltip="High Priority" *ngIf="item.highPriority">priority_high</mat-icon>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-icon-button aria-label="Delete" (click)="deleteToDo(item.key)">
            <mat-icon matTooltip="Delete">delete</mat-icon>
          </button>
          <button mat-icon-button aria-label="Edit" disabled>
            <mat-icon matTooltip="Edit">edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
