/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snack-bar-green {
  color: white !important;
  background-color: #60ac36;
}

.snack-bar-green .mat-simple-snackbar-action {
  color: white;
}

.snack-bar-red {
  color: white !important;
  background-color: #e4513b;
}

.snack-bar-red .mat-simple-snackbar-action {
  color: white;
}
